* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: white;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
}

.login{
    border: 1px solid black;
    width: 460px;
    height: 500px;
    background: url('../img/logo.png');
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.login2{
    border: 1px solid black;
    width: 850px;
    height: 450px;
    background: url('../img/ITICRITICS_HD.png');
    color: white;
    border-radius: .5em;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.rows{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: -1em;
}

.columnas{
    flex:1;
    min-width: 250px;
    padding: 0.5em;
}

form {
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}

label {
    color: rgb(255, 255, 255);
    background-color: #552c83;
    border-radius: .3rem;
    font-size: 12pt;
    letter-spacing: 2px;
    padding-left: 5px;
    
}

input {
    background: #363636d1;
    height: 40px;
    width: 350px;
    font-size: 11pt;
    border-radius: .5rem;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
}

button {
    background: #6a2bb2;
    height: 40px;
    width: 200px;
    border-radius: .5rem;
    border: none;
    font-size: 12pt;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #522487;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5); 
    margin-bottom: 60px;
}


h1, h2 {
    /*color: #333;*/
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
