<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gestor de Proyectos - Flooded</title>
    <link rel="stylesheet" href="/css/stylespresentacion.css"> 
</head>
<body>
    <header>
        <a href="sesion" style="display: flex; align-items: center;">
            <img style="width: 100px; margin-left: 30px;" src="img/FLOODED LOGO.png" alt="Logo">
        </a>
        <a href="/img/APARTADOLEGALFLOODED.pdf">
            <button class="ApartadoLegal">APARTADO LEGAL</button>
        </a>
        <button class="ApartadoLegal" id="creadoresButton">DESARROLLADORES</button>
    </header>

    <div id="creadoresOverlay" class="overlay">
        <div class="overlayContent">
            <div class="tarjetasContenedor">
                <div class="tarjeta">
                    <img src="/img/joshua.jpg" alt="Joshua André Alvarado Tovar">
                    <h3>Joshua André Alvarado Tovar</h3>
                </div>
                <div class="tarjeta">
                    <img src="/img/manuel.jpg" alt="Juan Antonio Manzano Ceja">
                    <h3>Juan Antonio Manzano Ceja</h3>
                </div>
                <div class="tarjeta">
                    <img src="/img/angel.jpg" alt="Angel Guadalupe Rivera Portillo">
                    <h3>Angel Guadalupe Rivera Portillo</h3>
                </div>
                <div class="tarjeta">
                    <img src="/img/diego.jpg" alt="Diego Emmanuel Salas Morales">
                    <h3>Diego Emmanuel Salas Morales</h3>
                </div>
                <div class="tarjeta">
                    <img src="/img/juan.jpg" alt="Manuel Alejandro Rodriguez Resendiz">
                    <h3>Manuel Alejandro Rodriguez Resendiz</h3>
                </div>
            </div>
            
            <h2>Desarrolladores de Flooded</h2>
        </div>
    </div>

    
    <section class="hero">
        <h2>Bienvenido a Flooded</h2>
        <p>Organiza tareas, proyectos y equipos de manera eficiente. Flooded está diseñado para maximizar la productividad, su impecable estructura y su alto nivel a la hora de realizar proyectos es realmente sobreacogedora</p>
        <a href="sesion"> <button> ¡Empieza ahora! </button> </a>
    </section>

    <section class="features">
        <div class="feature">
            <h3>Colaboración en Equipo</h3>
            <p>Facilita la colaboración en tiempo real con tareas asignadas, actualizaciones instantáneas y comentarios directos.</p>
        </div>
        <div class="feature">
            <h3>Tableros Personalizables</h3>
            <p>Crea tableros de tareas visuales y ajustables según las necesidades de tu equipo.</p>
        </div>
        <div class="feature">
            <h3>Seguimiento de Progreso</h3>
            <p>Monitorea el avance de cada proyecto con gráficos y estadísticas fáciles de interpretar.</p>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Flooded. Todos los derechos reservados.</p>
            <p> Desarrollado por [ Los Perry's Inc.].</p>
        </div>
    </footer>
    <script src="/js/scriptspresentacion.js"></script>
</body>
</html>
